/* h2 {
    font-size: 18pt;
    font-weight: normal;
}

span {
    color: blue;
}

span {
    color: yellow;
}

p {
    color: red;
} */

/* * {
    padding: 0;
    margin: 0;
} */

* {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    color: #202020;
}

h1,h2,h3 {
    font-weight: 200;
    /* font-style: italic; */
}

img {
    display: block;
    width: 100%;
}


html,body {
    background-color: rgb(200, 205, 206);
    padding: 0;
    margin: 0;
}

table,th,td {
    border: 1px solid black;
}

.container {
    background-color: #efefef;
    padding: 16px;
    display: block;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 6px;
}

/* .container.header {
    background-color: white;
} */

.full-width-img {
    width: 100%;
}

#company-logo {
    width: 100%;
}

.company-logo {
    width: 200px;
}

input:disabled {
    background-color: lightgray;
    border: 0;
}

button,.nav-button {
    color: white;
    text-decoration: none;
    background-color: rgb(104, 169, 148);
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    border-radius: 5px;
}

button:hover,.nav-button:hover {
    background-color: rgb(60, 116, 98);
    text-decoration: underline;
}

tbody tr:nth-child(2n - 1) {
    background-color: lightgrey;
}

.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    padding: 1rem;
    max-width: 20rem;
    color: white;
}

.card>h2 {
    font-size: 16pt;
    margin-bottom: 0.25rem;
}

*[data-copy] {
    padding: 0;
    background-color: transparent;
}

a[href*="google"] {

}

.article-image {
    float: left;
}

.article-image::after {
    clear: both;
}